<nav class="navbar-container">
  <div class="navbar-title">
    {{ currentTitle }}
  </div>
  <div class="navbar-actions">
    <button class="navbar-icon-btn" aria-label="Notificaciones">
      <span class="navbar-bell">🔔</span>
      <span class="navbar-badge">3</span>
    </button>
    <div class="navbar-avatar-wrapper" (click)="toggleMenu()">
      <ng-container *ngIf="user.avatarUrl; else initials">
        <img [src]="user.avatarUrl" alt="Avatar" class="navbar-avatar" />
      </ng-container>
      <ng-template #initials>
        <div class="navbar-avatar">{{ user.initials }}</div>
      </ng-template>
      <div class="navbar-menu" *ngIf="showMenu" (mouseleave)="closeMenu()">
        <a class="navbar-menu-item" href="#">Ver perfil</a>
        <a class="navbar-menu-item" href="#">Cerrar sesión</a>
      </div>
    </div>
  </div>
</nav>
