<app-dashboard-layout>
  <!-- Primera fila: 4 cards -->
  <app-realtime-consumption-card></app-realtime-consumption-card>
  <app-estimated-costs></app-estimated-costs>
  <app-monthly-savings></app-monthly-savings>
  <app-efficiency></app-efficiency>

  <!-- Segunda fila: 2 gráficos -->
  <app-realtime-consumption-chart></app-realtime-consumption-chart>
  <app-comparative></app-comparative>

  <!-- Tercera fila: 2 cards -->
  <app-device-control></app-device-control>
  <app-saving-tips></app-saving-tips>

  <!-- Cuarta fila: 1 card -->
  <app-recent-alerts></app-recent-alerts>
</app-dashboard-layout>
