<mat-card class="ps-chart-card">
  <div class="ps-chart-header">
    <span class="ps-chart-title">Comparativo de consumo</span>
    <mat-form-field appearance="outline" class="ps-period-selector">
      <mat-label>Periodo</mat-label>
      <mat-select [(ngModel)]="selectedPeriod" (selectionChange)="onPeriodChange()">
        <mat-option value="3m">Últimos 3 meses</mat-option>
        <mat-option value="6m">Últimos 6 meses</mat-option>
        <mat-option value="12m">Últimos 12 meses</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="ps-chart-content">
    <ngx-charts-line-chart
      [scheme]="lineColorScheme"
      [results]="results"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [autoScale]="true"
      [roundDomains]="true"
      [animations]="true"
    ></ngx-charts-line-chart>
  </div>
</mat-card>
